<!DOCTYPE html>
<html>
  <head>
    <title>草榴小电影</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="杨玉梅">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/bootstrap-3.3.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
  <!-- <div class="container">
<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header" id="navtop">
          <a class="navbar-brand" href="#">草榴小电影</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#hotplay">正在热映</a></li>
            <li><a href="#willplay">即将上映</a></li>
            <li><a href="#TOP250">TOP250</a></li>
            <li><a href="#AmericanTOP">北美票房榜</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="../navbar/">主页</a></li>
            <li><a href="login">登陆<span class="sr-only"></span></a></li>
            <li><a href="register">注册</a></li>
          </ul>
        </div>
      </div>
    </nav>
      <div class="jumbotron inner">
          <h1>WELCOME TO CLOUDMUSIC</h1>
          <p class="lead">Nothing is worth living for without music.</p>
          <p><a class="btn btn-lg btn-success" href="login" role="button">Sign up</a></p>
      </div>
        <h3 class="text-center" id="hotplay">正在热映</h3>
        <!-- 右侧 -->
      <div class="row marketing">
          <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>
        <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>  
        <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>  
        <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>
      </div>
   <!-- 即将上映 -->
   <!-- <h3 class="text-center" id="willplay">即将上映</h3>
          <div class="row marketing">
            <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>
        <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>  
        <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>  
        <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>
          </div>
      <!-- TOP250 -->
       <h3 class="text-center" id="TOP250">TOP250</h3>
       <div class="row marketing">
          <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>
        <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>  
        <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>  
        <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>
          </div>
      </div>
      <!-- 北美票房榜 -->
      <h3 class="text-center" id="AmericanTOP">北美票房榜</h3>
      <div class="row marketing">
          <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>
        <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>  
        <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>  
        <div class="hot">
              <!--电影名-->
              <h4>肖申克的救赎</h4>
              <!-- 电影图 -->
              <img src="http://img6.douban.com\/img\/celebrity\/large\/5837.jpg">
              <!-- 主演 -->
              <p>斯皮尔伯格</p>
        </div>
          </div>
      </div> -->
      <a href="#navtop" class="glyphicon glyphicon-arrow-up">TOP</a> -->
  </body>
</html>
